<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GearShift.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GearShift.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <GearShift.Settings>
        <setting name="WasWhatsNewDisplayed" serializeAs="String">
          <value>False</value>
        </setting>
      </GearShift.Settings>
        <GearShift.Properties.Settings>
            <setting name="gearboxGearsMaxCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="pressureChannelsMaxCount" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="currentChannelsMaxCount" serializeAs="String">
                <value>18</value>
            </setting>
        </GearShift.Properties.Settings>
    
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
</configuration>
